/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding: 0 12px;
}

button {
    color: white;
    margin: 8px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    /* text-transform: uppercase; */
    padding: 16px 20px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .08);
    outline: 0;
    letter-spacing: .04em;
    transition: all .15s ease;
    cursor: pointer;
}

a {
	font-size: 13px;
}

/* PADDING */
.padding {
    padding: 10px !important;
}
.pt {
	padding-top: 10px !important;
}
.pr {
	padding-right: 10px !important;
}
.pb {
	padding-bottom: 10px !important;
}
.pl {
	padding-left: 10px !important;
}

/* MARGIN */
.margin {
	margin: 10px !important;
}
.mt {
	margin-top: 10px !important;
}
.mr {
	margin-right: 10px !important;
}
.mb {
	margin-bottom: 10px !important;
}
.ml {
	margin-left: 10px !important;
}

.error-text {
	color: red;
}

.full-width {
	margin: auto;
	width: 100%;
	text-align: center;
}

.wrap-text {
	word-wrap: break-word;
}

.btn-primary {
	background-color: royalblue !important;
}

.fa {
	font-size: 26px;
}

.field-title {
	font-size: 12px;
	color: #AAA;
}

.field-value {
	font-size: 12px;
	font-weight: bold;
}